{% extends 'wcd_mainapp/base.html' %}
{% load static %}

{% block title %} Tasks {% endblock title %}

{% block extra_head %} 
<style>
    table td,
    table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    }
    tbody td {
    font-weight: 700;
    color: #999999;
    }
</style>
{% endblock extra_head %}

{% block content %}

<section class="container mt-5">
    {% if tasks %}

    <div class="mb-4 ml-auto">
        <a href="{% url 'add_tasks' %}" class="btn btn-primary rounded-pill px-3 py-2">
            <span>+ Add Tasks</span>
        </a>
        <div class="my-3">
            <em><strong>Note:</strong>  To edit details click on the field, change it and then click edit button.</em>
        </div>
    </div>
    <div class=" table-responsive">
        <table class="table table-bordered">
            {% csrf_token %}
            <tr class="">
                <th>URL</th>
                <th>Full / XPath</th>
                <th>Detection Type</th>
                <th>Threshold</th>
                <th>Date Added</th>
                <th>Date Updated</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        
            {% for task in tasks %}
            <tr id="{{task.id}}">
                <td contenteditable="true">{{task.web_url}}</td>
                <td contenteditable="true">{{task.partOf}}</td>
                <td contenteditable="true">{{task.detection_type}}</td>
                <td contenteditable="true">{{task.threshold}}</td>
                <td>{{task.date_added}}</td>
                <td>{{task.date_updated}}</td>
                <td>
                    <button class="btn btn-warning" value="{{task.id}}" onclick=editTask(this.value)>
                        Edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" value="{{task.id}}" onclick=deleteTask(this.value)>
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        
        </table>
    </div>

    {% else %}

    <h2 class ="text-center"> You dont have any task. <a href="{% url 'add_tasks' %}">Create one</a></h2>

    {% endif %}
</section>
{% endblock content %}
    

{% block extra_scripts %} 
<script>
    function editTask(idTask) {
        targetElement = document.getElementById(idTask).querySelectorAll("td")
        const dataToBackEnd = new FormData()
        dataToBackEnd.append("web_url", targetElement[0].innerText)
        dataToBackEnd.append("partOf", targetElement[1].innerText)
        dataToBackEnd.append("detection_type", targetElement[2].innerText)
        dataToBackEnd.append("threshold", targetElement[3].innerText)

        const request = new Request(`./${idTask}/update/`,
            {
                method: "POST",
                headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
                body: dataToBackEnd
            }
        )
        fetch(request, {
            method: "POST",
            mode: 'same-origin'
        }).then(
            function (response) {
                if (response.status === 200) {
                    location.reload()
                } else {
                    alert("error")
                }
            }
        )
    }


    function deleteTask(idTask) {
        const request = new Request(`./${idTask}/delete/`,
            {
                method: "DELETE",
                headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value }
            }
        )
        fetch(request, {
            method: "DELETE",
            mode: 'same-origin'
        }).then(
            function (response) {
                if (response.status === 200) {
                    location.reload()
                } else {
                    alert("error")
                }
            }
        )
    }

</script>
{% endblock extra_scripts %}

