{% extends 'wcd_mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block extra_head %} 
<style>
    .form-group {
        margin: 1em 0;
    }
</style>
{% endblock extra_head %}

{% block content %}

<section class="container mt-5">

    <h2 class ="text-center"> Account Login </h2>
    <form style="max-width: 600px;" class="container" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger alart-dismissable" role ="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>

                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif%}
                {% endfor %}
            </div>
        {% endif %}
        {{ form|crispy }}
        <a href="{% url 'register' %}">Forgot password ?</a>
        <br><br>
        <input type="submit" value="Log In" class=" btn btn-secondary">
    </form>

    <div style="max-width: 600px;" class="container my-3 mx-auto">
        Don't have an account ? <a href="{% url 'register' %}">Create one</a>
    </div>

</section>
{% endblock content %}